# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Python packaging
*.egg-info/
.eggs/
dist/
build/

# ======================
# FastAPI / Uvicorn
# ======================
*.log
uvicorn.log

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Docker
# ======================
# Docker runtime files
docker-compose.override

# ======================
# Project
# ======================
# Project runtime files
output
tmp

## AI Tooling
.agent/
.vscode/
models_cache/
